body {
background-color: #008B8B;
font-family: 'Kumbh Sans', sans-serif;font-size: 18px;
text-align: center;

}

hr {
    border: 1px solid;
    border-top: none;
    border-color: #969696;
    border-width: 1px;
    margin: auto;
}

.container{
  width: 1440px;
margin: 0 auto;
}

.top-container{
  height: 200px;
}
.middle-container{
  background-color: white;
  width: 30%;
  height: 60%;
  margin: auto;
  border-radius: 25px;
  position: relative;
}
.image-victor{
  border-radius: 200px;
  position: relative;
    bottom: 80px;
    background-color: white;
    padding: 7px;
    margin-bottom: -70px;
}

.name{
  margin: 0;
  font-size: 18px;
  font-weight: 700;
}

.city{
  font-weight: lighter;
margin-top: 10px;
font-size: 18px;
font-weight: 400;
}

.table {
  margin-left: auto;
  margin-right: auto;
  padding: 40px;

}

.table {
  width: 100%;
font-size: 25px;


}

td {
  text-align: center;
  font-weight: 400;
  letter-spacing: 1px;
  font-size: 18px;
}

th{
  font-size: 18px;
  font-weight: 700;
}


.age{
  font-family: 'Kumbh Sans', cursive;
  font-weight: lighter;
}


.card {
  width: 100%;
  border-radius: 25px 25px 0 0;
  margin-bottom: 0;
}

.top {
width: 50%;
height: 100%;
position: absolute;
left: -100px;
bottom: 400px;
margin: 0 auto;
}

.bottom {
  width: 50%;
  height: 100%;
  position: absolute;
  right: 50px;
  top: 500px;
  z-index: -1;
  margin: 0 auto;

}



.middle-container{
  position: relative;
}

.bottom-container{

}



.attribution {

}
